<h1>Register Faces</h1>
<div class="top_item" fxLayoutGap="3vw">
  <mat-form-field appearance="fill">
    <mat-label>Name of student</mat-label>
    <input matInput minlength="1" #name />
  </mat-form-field>
  <label for="require">
    <button
      mat-raised-button
      (click)="require.click()"
      [disabled]="!name.value || name.value.length === 0 || uploading"
    >
      Upload Images
    </button>
    <input
      type="file"
      style="display: none"
      #require
      multiple
      (change)="setFiles(name.value, $event)"
    />
  </label>
  <div>
    <button
      mat-raised-button
      (click)="sendData()"
      [disabled]="train.length <= 1 || sending"
    >
      Send Data
    </button>
  </div>
</div>
<mat-list>
  <mat-list-item>Upload 3-5 images per person</mat-list-item>
  <mat-list-item>Upload images for at least 2 students</mat-list-item>
</mat-list>
